/* CSS declarations go here */
.container {
    background-color: chartreuse;
}


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #333333;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
}

.flex-overview {
    margin-top: 50px;
    z-index: 1;
    padding: .5%;
}

.flex-detail {
    padding: .5%;
}

.pieceInOverview {
    width: 49%;
    position: relative;
    margin: .5%;
}

.pieceInOverview:before { /*used to determine image height*/
    content: "";
    display: block;
    padding-top: 100%;
    pointer-events: none;
}

.overviewImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.detailImageContainer {
    width: 24%;
    position: relative;
    margin: .5%;
}

.detailImageContainer:first-child {
    width: 100%;
}

.detailImageContainer:before {
    content: "";
    display: block;
    padding-top: 100%;
    pointer-events: none;
}

.detailImageContainer .detailImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.new-piece {
    position: fixed;
    bottom: 5%;
    right: 5%;
}

.clear {
    clear:left;
}

.piece {
    background-color: gainsboro;
    border: 1px dotted hotpink;
    margin-top: 1em;
}


.thumbnail {
    /* research on flexbox for auto-floating div */

    width: 200px;
    height: 200px;

}
.thumbnail img {

}
.thumbnail img.portrait {
    width: 100%;
    height: auto;
}



.detailImage {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.detailImage button {
    height: 20px;
    width: 20px;
    color: red;
    background-color: transparent;
    border-color: transparent;
}

#filter-form {
    position: fixed;
    top:0;
    width: 100%;
    background-color: #222222;
    z-index:2;
}

.filter_form {
    margin: 0;
}

.filter_form, #activeFilters {
    box-shadow: 3px 0 3px #fff;
}

#activeFilters {
    background-color: #333333;
}

.new-piece > input[type="submit"]{
    width: 75px;
    height: 75px;
    border-radius: 10000px;
    font-size: 41px;
    text-align: center;
    font-weight: bold;

    background: radial-gradient(hotpink, mediumvioletred); /* Standard syntax */

    color: black;

}

.new-piece > input[type="submit"]:active{
    background: radial-gradient(mediumvioletred, hotpink);

}